*{
    margin: 0;
    padding: 0;
    background-color: rgb(180, 218, 215);
}

html,body{
    margin-top: 30px;
    padding-left: 60px;
    height: 100%;
}

header h1{
    margin: 40px;
}

header p{
    margin: 30px;
    padding: 10px;
}