*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    max-width: 1200px;
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: rgba(173, 224, 224, 0.623);
}

header{
    width: 500px;
    text-align: center;
    background-color: white;
}

section p{
    margin: 5px;
    text-align: center;
}