*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    max-width: 1200px;
    position: absolute;
    background-color: aqua;
}

header{
    width: 300px;
    margin: 20px;
    position: relative;
    left: 400px;
    border-radius: 50px;
    box-shadow: 2px 3px #555;
    background-color: blue;
}

header h1{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: white;
}
aside {
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    display:flex;
}
#menu-opener {
    width:40px;
    height:40px;
    cursor:pointer;
    margin-top:10px;
    margin-right:10px;
}
#menu-area {
    width:0px;
    height:100vh;
    background:#ccc;
    overflow-x:hidden;
    overflow-y:auto;
    transition: all ease .5s;
}
#menu-area ul, #menu-area li {
    padding:0;
    list-style:none;
}
#menu-area li {
    display:block;
    padding:10px;
    color:#555;
    cursor:pointer;
}
#menu-area li:hover {
    background:#DDD;
}

.menu-opened{
    width: 200px ! important;
}