*{
    margin: 0;
    padding: 0;
    background-color: rgb(138, 106, 106);
}

html, body{
    height: 100%;
}

header h1, h2, p{
    margin: 50px 0;
    padding: 0 50px;
    color: rgba(71, 15, 34, 0.473);
}

header p{
    font-size: 30px;
}