*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

html, body{
    height: 100%;
}

header h1, h2, p{
    margin: 40px;
    padding: 0 30px;
    text-align: justify;
}

header p{
    font-size: 25px;
    font-style: italic;
}